<footer class="text-gray-600 body-font">
  <div class="bg-gray-900">
  <div class="container px-5 py-24 mx-auto flex md:items-center lg:items-start md:flex-row md:flex-nowrap flex-wrap flex-col">
    <div class="flex flex-wrap text-center">
    </div>
    <div class="w-64 mx-auto text-center">
      <a href="" class="flex title-font font-medium items-center justify-center text-gray-900">
        <span class="ml-3 text-xl text-yellow-400">Ekhane</span>
      </a>
      <p class="mt-2 text-sm text-yellow-400">
          You can follow our updated info
      </p>
    </div>
  </div>
  </div>
  <div class="bg-green-700">
    <div class="container mx-auto py-4 px-5 flex flex-wrap flex-col sm:flex-row">
      <p class="text-white text-sm text-center sm:text-left space-x-3">
          <a class="ml-1" [routerLink]="['/contactus']">Contact Us</a>
          <a class="ml-1" [routerLink]="['/qanda']">Q&A</a>
          <a class="ml-1" [routerLink]="['/policy']">Our Policy</a>
      </p>
      <span class="text-white inline-flex sm:ml-auto sm:mt-0 mt-2 justify-center sm:justify-start">
        Copyright© Ekhane All rights reserved.
      </span>
    </div>
  </div>
</footer>