<app-header></app-header>

<body>
  <!-- Hero Section -->
<section class="w-full h-full bg-fixed bg-black bg-opacity-25 bg-no-repeat bg-cover bg-hero-image">
  <div class="px-4 py-12 mx-auto max-w-7xl sm:px-6 md:px-12 lg:px-40 lg:py-40 font-Lato">
    <div class="flex flex-col w-full mb-12 text-center">

      <div class="inline-flex items-center justify-center flex-shrink-0 w-24 h-24 mx-auto mb-5">
        <img src="../assets/logo.png" alt="" >
      </div>

      <h1 class="max-w-5xl text-2xl font-bold leading-none tracking-tighter text-white text-neutral-600 md:text-5xl lg:text-6xl lg:max-w-7xl"> 
      Alternative place for <br class="hidden lg:block"> your waste </h1>

      <p class="max-w-xl mx-auto mt-8 text-base leading-relaxed text-center text-gray-300"></p><br>
      
      
      <div class="inline-flex items-center justify-center ">
          <button class="w-48 px-5 py-3 text-sm font-medium text-yellow-100 transition duration-300 bg-yellow-600 rounded-full shadow-sm hover:shadow-2xl hover:bg-yellow-700">Join Now</button>
      </div>
    </div>
  </div>
</section>
<!-- End of Hero Section -->

<!-- Comic Strip Section -->
<section class="w-full h-full bg-gray-300 bg-no-repeat bg-cover">
  <div class="px-4 py-12 mx-auto max-w-7xl sm:px-6 md:px-12 lg:px-40 lg:py-24">

      <div class="flex flex-wrap overflow-hidden">
          <div class="w-full mx-auto">
            <img src="../assets/titlecomic.png" alt="" class="mx-auto">
          </div>
      </div>
      
      <div class="flex flex-wrap overflow-hidden sm:-mx-4 md:-mx-4 lg:-mx-3 xl:-mx-4">

          <div class="w-full overflow-hidden sm:my-4 sm:px-4 sm:w-1/2 md:my-4 md:px-4 md:w-1/2 lg:my-3 lg:px-3 lg:w-1/2 xl:my-4 xl:px-4 xl:w-1/2">
            <img src="../assets/strip1.png" alt="">
          </div>
          
          <div class="w-full overflow-hidden sm:my-4 sm:px-4 sm:w-1/2 md:my-4 md:px-4 md:w-1/2 lg:my-3 lg:px-3 lg:w-1/2 xl:my-4 xl:px-4 xl:w-1/2">
              <img src="../assets/strip2.png" alt="">
          </div>
        
      </div>
  </div>
</section>
<!-- End of Comic Strip Section -->

<!-- Dhaka Resource Hub Section -->
<section class="w-full h-full bg-no-repeat bg-cover bg-cream">
<div class="px-4 py-12 mx-auto max-w-7xl sm:px-6 md:px-12 lg:px-40 lg:py-24">
   
    <div class="flex flex-wrap overflow-hidden sm:-mx-4 md:-mx-4 lg:-mx-3 xl:-mx-4">

        <div class="w-full overflow-hidden sm:my-4 sm:px-4 sm:w-1/2 md:my-4 md:px-4 md:w-1/2 lg:my-3 lg:px-3 lg:w-1/2 xl:my-4 xl:px-4 xl:w-1/2">
          
          <div class="w-full overflow-hidden">
            <h1 class="max-w-5xl py-3 my-3 text-2xl font-bold leading-none tracking-tighter text-black text-neutral-600 md:text-5xl lg:text-6xl lg:max-w-7xl">Dhaka Resource Map</h1>
          </div>
        
          <div class="w-full max-w-xl p-10 mx-auto mt-8 mb-2 overflow-hidden text-xl leading-relaxed text-left text-green-200 bg-gray-900 border shadow-xl rounded-tr-3xl rounded-bl-3xl ">
            
              <p>
                Our platform offers connection between waste providers and waste buyers in the City of Dhaka. 
                Ekhane makes these unique connections across the city motivating people to segregate their waste and move towards a sustainable lifestyle.
                </p>
           
            
          </div>
          
        </div>
        
        <div class="w-full overflow-hidden sm:my-4 sm:px-4 sm:w-1/2 md:my-4 md:px-4 md:w-1/2 lg:my-3 lg:px-3 lg:w-1/2 xl:my-4 xl:px-4 xl:w-1/2">
            <img src="../assets/bangladesh_resource_map.png" alt="" class="object-contain">
        </div>
      
    </div>
</div>
</section>
<!-- End of Dhaka Resource Hub -->

<!-- Dhaka Resource Hub Section -->
<section class="static w-full h-full bg-no-repeat bg-cover bg-cream">
  <div class="px-4 py-16 mx-auto max-w-7xl sm:px-6 md:px-12 lg:px-40 lg:py-24">
    <h1 class="max-w-5xl mb-10 text-2xl font-bold leading-none tracking-tighter text-center text-black bottom text-neutral-600 md:text-5xl lg:text-6xl lg:max-w-7xl ">Our pilot area in Dhaka - Mohakhali</h1>
    </div>
    <iframe src="https://snazzymaps.com/embed/352448" width="100%" height="600px" style="border:none;"></iframe>      
</section>
<!-- End of Dhaka Resource Hub -->

<!-- resource section -->
<section class="w-full h-full bg-white">
    <div class="px-4 py-16 mx-auto max-w-7xl sm:px-6 md:px-12 lg:px-40 lg:py-24">
      <h1
        class="max-w-5xl text-2xl font-bold leading-none tracking-tighter text-center text-black bottom text-neutral-600 md:text-5xl lg:text-6xl lg:max-w-7xl ">
        We are searching these resources</h1>

        <div class="grid grid-cols-2 gap-3 md:grid-cols-3">
            <div class="">
              <div class="px-3 py-5 text-2xl text-center">Plastic</div>
              <img src="../../../assets/PET1.png" alt="" class="mx-auto">
            </div>
            <div class="">
              <div class="px-3 py-5 mb-3 text-2xl text-center">Can</div>
              <img src="../../../assets/can.png" alt="" class="mx-auto">
            </div>
            <div class="">
              <div class="px-3 py-5 text-2xl text-center">Paper</div>
              <img src="../../../assets/paper.png" alt="" class="mx-auto">
            </div>
            <div class="">
              <div class="px-3 py-5 text-2xl text-center">Fabrics</div>
              <img src="../../../assets/cloth.png" alt="" class="mx-auto">
            </div>
            <div class="">
              <div class="px-3 py-5 mb-4 text-2xl text-center">Glass</div>
              <img src="../../../assets/glass.png" alt="" class="mx-auto">
            </div>
            <div class="">
              <div class="px-3 py-5 text-2xl text-center mb-7">E-products</div>
              <img src="../../../assets/ewaste2 1.png" alt="" class="mx-auto">
            </div>
          </div>
    </div>

    

</section>

<!-- Team Member Section -->
<section class="w-full h-full py-20 mb-5 bg-white bg-no-repeat bg-cover">

    <div class="relative px-16 mx-auto max-w-7xl">
        <h1 class="max-w-5xl mb-10 text-2xl font-bold leading-none tracking-tighter text-center text-black bottom text-neutral-600 md:text-5xl lg:text-6xl lg:max-w-7xl ">Our Amazing Team</h1>
        <div class="grid w-full grid-cols-2 gap-10 sm:grid-cols-3 lg:grid-cols-4">
            <div class="flex flex-col items-center justify-center col-span-1">
                <div class="relative p-5">
                    <div class="absolute z-10 w-full h-full -mt-5 -ml-5 rounded-full rounded-tr-none bg-blue-50"></div>
                    <img class="relative z-20 w-full rounded-full" src="https://cdn.devdojo.com/images/june2021/avt-03.jpg">
                </div>
                <div class="mt-3 space-y-2 text-center">
                    <div class="space-y-1 text-lg font-medium leading-6">
                        <h3>Tahreem</h3>
                        <p class="text-blue-600">CEO and Founder</p>
                    </div>
                    <div class="relative flex items-center justify-center space-x-3">
                        <a href="#_" class="text-gray-300 hover:text-gray-400">
                            <fa-icon [icon]="faLinkedin" class="fa-lg"></fa-icon>
                        </a>
                        <a href="#_" class="text-gray-300 hover:text-gray-400">
                            <fa-icon [icon]="faFacebook" class="fa-lg"></fa-icon>
                        </a>
                    </div>
                </div>
            </div>
  
            <div class="flex flex-col items-center justify-center col-span-1">
                <div class="relative p-5">
                    <div class="absolute z-10 w-full h-full -mt-5 -ml-5 rounded-full rounded-tr-none bg-green-50"></div>
                    <img class="relative z-20 w-full rounded-full" src="https://cdn.devdojo.com/images/june2021/avt-07.jpg">
                </div>
                <div class="mt-3 space-y-2 text-center">
                    <div class="space-y-1 text-lg font-medium leading-6">
                        <h3>Sheikh Md. Rezwan</h3>
                        <p class="text-blue-600">Mentor</p>
                    </div>
                    <div class="relative flex items-center justify-center space-x-3">
                        <a href="#_" class="text-gray-300 hover:text-gray-400">
                            <fa-icon [icon]="faLinkedin" class="fa-lg"></fa-icon>
                        </a>
                        <a href="#_" class="text-gray-300 hover:text-gray-400">
                            <fa-icon [icon]="faFacebook" class="fa-lg"></fa-icon>
                        </a>
                    </div>
                </div>
            </div>
  
            <div class="flex flex-col items-center justify-center col-span-1">
                <div class="relative p-5">
                    <div class="absolute z-10 w-full h-full -mt-5 -ml-5 rounded-full rounded-tr-none bg-pink-50"></div>
                    <img class="relative z-20 w-full rounded-full" src="https://cdn.devdojo.com/images/june2021/avt-20.jpg">
                </div>
                <div class="mt-3 space-y-2 text-center">
                    <div class="space-y-1 text-lg font-medium leading-6">
                        <h3>Yusuke Kaga</h3>
                        <p class="text-blue-600">Web developper</p>
                    </div>
                    <div class="relative flex items-center justify-center space-x-3">
                        <a href="#_" class="text-gray-300 hover:text-gray-400">
                            <fa-icon [icon]="faLinkedin" class="fa-lg"></fa-icon>
                        </a>
                        <a href="#_" class="text-gray-300 hover:text-gray-400">
                            <fa-icon [icon]="faFacebook" class="fa-lg"></fa-icon>
                        </a>
                        <a href="#_" class="text-gray-300 hover:text-gray-400">
                            <fa-icon [icon]="faGithub" class="fa-lg"></fa-icon>
                        </a>
                    </div>
                </div>
            </div>
  
            <div class="flex flex-col items-center justify-center col-span-1">
                <div class="relative p-5">
                    <div class="absolute z-10 w-full h-full -mt-5 -ml-5 rounded-full rounded-tr-none bg-green-50"></div>
                    <img class="relative z-20 w-full rounded-full" src="https://cdn.devdojo.com/images/june2021/avt-09.jpg">
                </div>
                <div class="mt-3 space-y-2 text-center">
                    <div class="space-y-1 text-lg font-medium leading-6">
                        <h3>Valentino Yudhistira Jehaut</h3>
                        <p class="text-blue-600">Web developper</p>
                    </div>
                    <div class="relative flex items-center justify-center space-x-3">
                        <a href="#_" class="text-gray-300 hover:text-gray-400">
                            <fa-icon [icon]="faLinkedin" class="fa-lg"></fa-icon>
                        </a>
                        <a href="#_" class="text-gray-300 hover:text-gray-400">
                            <fa-icon [icon]="faFacebook" class="fa-lg"></fa-icon>
                        </a>
                        <a href="#_" class="text-gray-300 hover:text-gray-400">
                            <fa-icon [icon]="faGithub" class="fa-lg"></fa-icon>
                        </a>
                    </div>
                </div>
            </div>
  
            <div class="flex flex-col items-center justify-center col-span-1">
                <div class="relative p-5">
                    <div class="absolute z-10 w-full h-full -mt-5 -ml-5 rounded-full rounded-tr-none bg-green-50"></div>
                    <img class="relative z-20 w-full rounded-full" src="https://cdn.devdojo.com/images/june2021/avt-14.jpg">
                </div>
                <div class="mt-3 space-y-2 text-center">
                    <div class="space-y-1 text-lg font-medium leading-6">
                        <h3>Nimra</h3>
                        <p class="text-blue-600">Software engineer</p>
                    </div>
                    <div class="relative flex items-center justify-center space-x-3">
                        <a href="#_" class="text-gray-300 hover:text-gray-400">
                            <fa-icon [icon]="faLinkedin" class="fa-lg"></fa-icon>
                        </a>
                        <a href="#_" class="text-gray-300 hover:text-gray-400">
                            <fa-icon [icon]="faFacebook" class="fa-lg"></fa-icon>
                        </a>
                        <a href="#_" class="text-gray-300 hover:text-gray-400">
                            <fa-icon [icon]="faGithub" class="fa-lg"></fa-icon>
                        </a>
                    </div>
                </div>
            </div>
  
            <div class="flex flex-col items-center justify-center col-span-1">
                <div class="relative p-5">
                    <div class="absolute z-10 w-full h-full -mt-5 -ml-5 rounded-full rounded-tr-none bg-pink-50"></div>
                    <img class="relative z-20 w-full rounded-full" src="https://cdn.devdojo.com/images/june2021/avt-13.jpg">
                </div>
                <div class="mt-3 space-y-2 text-center">
                    <div class="space-y-1 text-lg font-medium leading-6">
                        <h3>Anna Wierzbicka</h3>
                        <p class="text-blue-600">Business Manager</p>
                    </div>
                    <div class="relative flex items-center justify-center space-x-3">
                        <a href="#_" class="text-gray-300 hover:text-gray-400">
                            <fa-icon [icon]="faLinkedin" class="fa-lg"></fa-icon>
                        </a>
                        <a href="#_" class="text-gray-300 hover:text-gray-400">
                            <fa-icon [icon]="faFacebook" class="fa-lg"></fa-icon>
                        </a>
                    </div>
                </div>
            </div>
  
            <div class="flex flex-col items-center justify-center col-span-1">
                <div class="relative p-5">
                    <div class="absolute z-10 w-full h-full -mt-5 -ml-5 rounded-full rounded-tr-none bg-green-50"></div>
                    <img class="relative z-20 w-full rounded-full" src="https://cdn.devdojo.com/images/june2021/avt-16.jpg">
                </div>
                <div class="mt-3 space-y-2 text-center">
                    <div class="space-y-1 text-lg font-medium leading-6">
                        <h3>Ramya Khane</h3>
                        <p class="text-blue-600">Governance</p>
                    </div>
                    <div class="relative flex items-center justify-center space-x-3">
                        <a href="#_" class="text-gray-300 hover:text-gray-400">
                            <fa-icon [icon]="faLinkedin" class="fa-lg"></fa-icon>
                        </a>
                        <a href="#_" class="text-gray-300 hover:text-gray-400">
                            <fa-icon [icon]="faFacebook" class="fa-lg"></fa-icon>
                        </a>
                    </div>
                </div>
            </div>
  
            <div class="flex flex-col items-center justify-center col-span-1">
                <div class="relative p-5">
                    <div class="absolute z-10 w-full h-full -mt-5 -ml-5 rounded-full rounded-tr-none bg-blue-50"></div>
                    <img class="relative z-20 w-full rounded-full" src="https://cdn.devdojo.com/images/june2021/avt-08.jpg">
                </div>
                <div class="mt-3 space-y-2 text-center">
                    <div class="space-y-1 text-lg font-medium leading-6">
                        <h3>Woroood</h3>
                        <p class="text-blue-600">Designer</p>
                    </div>
                    <div class="relative flex items-center justify-center space-x-3">
                        <a href="#_" class="text-gray-300 hover:text-gray-400">
                            <fa-icon [icon]="faLinkedin" class="fa-lg"></fa-icon>
                        </a>
                        <a href="#_" class="text-gray-300 hover:text-gray-400">
                            <fa-icon [icon]="faFacebook" class="fa-lg"></fa-icon>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>      
</section>
<!-- End of Team Member -->


<!-- Sign Up form -->
<section class="w-full h-full px-8 py-20 bg-green-600 bg-no-repeat bg-cover rounded-t-3xl xl:px-8">
    <div class="max-w-5xl mx-auto">
        <div class="flex flex-col items-center md:flex-row">

            <div class="w-full space-y-5 md:w-3/5 md:pr-16">
                <h2 class="text-2xl font-extrabold leading-none text-white sm:text-3xl md:text-5xl">
                    Let's start <span class="text-yellow-400">Ekhane</span> green journey here!
                </h2>
                <p class="text-xl text-gray-300 md:pr-16">You can post your unnecesary goods, or collect resources for benefit. Our platform helps Dhaka citizens to connect each other for eco-friendly supply chain.</p>
            </div>

            <div class="w-full mt-16 md:mt-0 md:w-2/5">
                <div class="relative z-10 h-auto p-8 py-10 overflow-hidden bg-white border-b-2 border-gray-300 rounded-lg shadow-2xl px-7">
                    <h3 class="mb-6 text-2xl font-medium text-center">Sign Up</h3>
                    <input type="text" name="user" class="block w-full px-4 py-3 mb-4 border border-2 border-transparent border-gray-200 rounded-lg focus:ring focus:ring-blue-500 focus:outline-none" placeholder="Your Name">
                    <input type="text" name="email" class="block w-full px-4 py-3 mb-4 border border-2 border-transparent border-gray-200 rounded-lg focus:ring focus:ring-blue-500 focus:outline-none" placeholder="Email address">
                    <input type="password" name="password" class="block w-full px-4 py-3 mb-4 border border-2 border-transparent border-gray-200 rounded-lg focus:ring focus:ring-blue-500 focus:outline-none" placeholder="Password">
                    <div class="block">
                        <button class="w-full px-3 py-4 font-medium text-black bg-yellow-400 rounded-full">Sign Up</button>
                    </div>
                    <div class="block">
                        <button class="w-full px-3 py-4 font-medium text-black bg-white rounded-full ">Sign Up with Google</button>
                    </div>
                    <p class="w-full mt-4 text-sm text-center text-gray-500">Already have an account? <a href="#_" class="text-blue-500 underline">Login here</a></p>
                </div>
            </div>

        </div>
    </div>
</section>
<!-- End of Sign Up form -->


</body>

<app-footer></app-footer>

